body{
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:425px) {
    body{
        width: fit-content;
    }
    .card_container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    div.card{
        width: 95%;
        margin: 10px 20px;
    }

    .card_text, .main_text, .types_text{
        font-size: 80px !important;
    }

    .card_heading{
        font-size: 100px !important;
    }

   .search_image{
    width: 70% !important;
   }

   .highlight_text{
    width: 28% !important;
    font-size: 4vw !important;
   }

   .list{
    margin-left: 75px !important;
   }

   .types>img{
    clear: both !important;
    width: 100% !important;
   }

   .main_heading{
    font-size: 90px !important;
    margin-block-start: 4.5% !important;

   }

   .clear{
    margin-top: 25px !important;
   }

   .main_text{
    margin-block-start: 0.5em !important;
   }

   .frame{
    height: 40em !important;
    width: 100vw !important;
   }

   .logo{
    height: 14em !important;
    margin: 0 auto !important;
   }

    .footer{
        height: 40em;
    }

    .footer_copyright,.footer_heading{
        font-size: 5em !important;
        text-align: center;
    }

    .footer_details{
        font-size: 4em;
        text-align: center;
    }

    .footer_detail{
        font-size: 2em;
    }
}

.frame{
    width: 100%; height:25vw;
}

.search_image{
    margin-left: 10px;width:60%
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.card_container{
    display: flex;
    justify-content: center;
}

.card_text{
    font-size: 1.2vw;
}

.card{
    width: 20vw;
    float: left;
    margin: 1% 1%;
    border-radius: 8%;
    padding: 1%;
    text-align: center;
}

.card:nth-child(even){
    background-color: hsl(200,100%,95%);
}
.card:nth-child(odd){
    background-color: hsla(120, 100%, 40%,0.1);
}

.card_heading{
    text-align: center;
    color: rgba(0,0,120,0.7);
    font-size: 2vw;
}

.clear{
    clear: both;
}

.highlight_text{
    display: inline-block;
    width: 5%;
    font-size: 3vw;
    margin-bottom: -60px;
    color: rgba(120, 193, 185,1);
}

.main{
    margin-left: 1%;
}

.main_heading{
    font-size: 4vw;
    margin-left: 1vw;
    margin-block-end: 0%;
    margin-block-start: 0.5%;
    color: rgb(100, 160, 239,0.9);
}

.main_text{
    font-size: 1.2vw;
    margin-left: 1vw;
}
/*
div.main>h3{
    font-size: 3em;
    
     /*color:hsla(342, 22%, 51%,0.7);
}*/

.types{
    left: 5%;
}

.types:nth-child(odd){
    padding: 1%;
    margin: 1% 0;
    float:left;
}

.types:nth-child(even){
    padding: 1%;
    margin: 1% 0;
    float: right;
}

.types:nth-child(odd)>img{
    float: left;
    margin-right: 5%;
}

.types:nth-child(even)>img{
    float: right;
    margin-left: 5%;
}


.types_text{
    font-size: 1.2vw;
}
.types_text>p{
    margin-block-start: 0.5em;
}

.types_text>div>ul{
    padding-inline-start: 1px;
}

.types>img{
    height: 32vw;
    width: 40vw;
}

.types>div>img{
    height: 26rem;
    width: 40rem;
}

.types>div>h3{
    /*color: hsl(342, 22%, 51%);*/
    color:rgba(80, 166, 172,0.9);
    margin-block-end: 0;
}

div.types>p{
    width: 75%;
}

.types>h3{
    /*color: hsl(342, 22%, 51%);*/
    color:rgba(80, 166, 172,0.9);
    margin-block-end: 0;
}

.footer{
    background-color: rgba(128,128,128,0.9);
    font-size: 1.2vw;
}

.footer>h3{
    padding-top:1vw;
    color: white;
    margin-block-end: 0.5vw;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
}

.footer>h6{
    margin-block-end: 0.5vw;
    margin-block-start: 0.5vw;
    margin-left: 2vw;
}

.footer_details{
    color: aliceblue;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
}


.footer_copyright{
    color: white;margin-left: 1.5vw;
}
