body {
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  animation: logoAppear 4s 0s linear 1;
}

.card_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card_text {
  font-size: 1.2vw;
}

.card:nth-child(even) {
  width: 20vw;
  float: left;
  margin: 1% 1%;
  background-color: hsl(200, 100%, 95%);
  border-radius: 8%;
  padding: 1%;
  animation: fly 10s 0s 1;
}
.card:nth-child(odd) {
  width: 20vw;
  float: left;
  margin: 1% 1%;
  background-color: hsla(120, 100%, 40%, 0.1);
  border-radius: 8%;
  padding: 1%;
  animation: fly 5s 0s 1;
}

.card_heading {
  text-align: center;
  color: rgba(0, 0, 120, 0.7);
  font-size: 2vw;
}

.clear {
  clear: both;
}
.clear img {
  animation: appear 3s 0s linear 2;
}

.highlight_text {
  display: inline-block;
  width: 5%;
  font-size: 3vw;
  margin-bottom: -60px;
  color: rgba(120, 193, 185, 1);
  animation: blink 3s ease-in-out 3s infinite forwards;
}

.main {
  margin-left: 1%;
  width: 97%;
}

.main_heading {
  font-size: 4vw;
  margin-left: 1vw;
  margin-block-end: 0%;
  margin-block-start: 0.5%;
  color: rgb(100, 160, 239, 0.9);
}

.main_text {
  font-size: 1.2vw;
  margin-left: 1vw;
}
/*
div.main>h3{
    font-size: 3em;
    
     /*color:hsla(342, 22%, 51%,0.7);
}*/

.types {
  left: 5%;
}

.types:nth-child(odd) {
  padding: 1%;
  margin: 1% 0;
  float: left;
}

.types:nth-child(even) {
  padding: 1%;
  margin: 1% 0;
  float: right;
}

.types:nth-child(odd) > img {
  float: left;
  margin-right: 5%;
}

.types:nth-child(even) > img {
  float: right;
  margin-left: 5%;
}

.types_text {
  font-size: 1.2vw;
}
.types_text > p {
  margin-block-start: 0.5em;
}

.types_text > div > ul {
  padding-inline-start: 1px;
}

.types > img {
  height: 32vw;
  width: 40vw;
}

.types > div > img {
  height: 26rem;
  width: 40rem;
}

.types > div > h3 {
  /*color: hsl(342, 22%, 51%);*/
  color: rgba(80, 166, 172, 0.9);
  margin-block-end: 0;
}

div.types > p {
  width: 75%;
}

.types > h3 {
  /*color: hsl(342, 22%, 51%);*/
  color: rgba(80, 166, 172, 0.9);
  margin-block-end: 0;
}

.footer {
  background-color: rgba(128, 128, 128, 0.9);
  font-size: 1.2vw;
}

.footer > h3 {
  padding-top: 1vw;
  color: white;
  margin-block-end: 0.5vw;
  margin-left: 1vw;
  display: flex;
  justify-content: center;
}

.footer > h6 {
  margin-block-end: 0.5vw;
  margin-block-start: 0.5vw;
  margin-left: 2vw;
}

.footer_details {
  color: aliceblue;
  margin-left: 1vw;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 710px) and (min-width: 200px) {
  .card_container {
    flex-direction: column;
  }

  .card_heading {
    font-size: 15px;
  }
  .card:nth-child(even),
  .card:nth-child(odd) {
    width: 93vw;
  }
  .card_text,
  .main_text,
  .types_text,
  .footer,
  .footer h6 {
    font-size: 10px;
  }

  .types:nth-child(odd) .types_list {
    width: 50%;
    float: right;
  }

  .types:nth-child(even) .types_list {
    margin-left: 15px;
    float: left;
    width: 50%;
  }
}

@keyframes fly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    float: right;
  }
  100% {
    float: none;
  }

  /* 0% {
    width: 0%;
    height: 0%;
  }
  20% {
    width: 10%;
    height: 10%;
  }
  40% {
    width: 20%;
    height: 20%;
  }
  60% {
    width: 40%;
    height: 40%;
  }
  80% {
    width: 50%;
    height: 50%;
  }
  100% {
    width: 60%;
    height: 60%;
  } */
}

.lightening1 {
  /* display: none; */
  position: absolute;
  background-color: rgba(4, 107, 185, 255);
  height: 5px;
  width: 5px;
  opacity: 0;
  transform-origin: 6px 6px;
  border-radius: 50%;
  animation-name: cracker;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
.lightening2 {
  /* display: none; */
  position: absolute;
  background-color: rgba(81, 207, 45, 255);
  height: 5px;
  width: 5px;
  opacity: 0;
  transform-origin: 6px 6px;
  border-radius: 50%;
  animation-name: cracker;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}
.lightening4 {
  /* display: none; */
  position: absolute;
  background-color: rgba(81, 207, 45, 255);
  height: 5px;
  width: 5px;
  opacity: 0;
  transform-origin: 6px 6px;
  border-radius: 50%;
  animation-name: cracker;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}
@keyframes cracker {
  0%,
  100% {
    opacity: 0;
    width: 12px;
    transform: translate(0px, 0px);
  }
  15% {
    opacity: 1;
    width: 50px;
  }
  30% {
    opacity: 0.7;
    width: 70px;
    transform: translate(50vw, 30vh);
  }
  50% {
    opacity: 1;
    width: 12px;
  }
  70% {
    opacity: 0;
    width: 12px;
    transform: translate(50vw, 30vh);
  }
  85% {
    opacity: 0;
    width: 12px;
  }
}

@keyframes logoAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
